<h1>{{ question.question_text }}</h1>
<p><em>{{ question.pub_date }} UTC</em></p>

{% if error_message %}<p class="error"><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
  {% csrf_token %}
  {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"></input>
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br/>
  {% endfor %}
  <input type="submit" value="Vote">
</form>
